.task_manager {
  display: flex;
  @media (max-width: 678px) {
    flex-direction: column;
  }
}

.output {
  min-width: 300px;
  max-width: 500px;
  height: 400px;
  margin-right: 150px;
  padding: 20px;
  background-color: #fff;
  opacity: 0.65;
  border-radius: 10px;
  overflow-x: hidden;
}


